<html lang="en">

   <%- include partials/header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome</h1>
        <p>Currently this is shit</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/home/profile" role="button">Profile view »</a>
        </p>
      </div>
      <p>Few Bugs
        <ul>
          <li>Currently None</li>
          <li></li>
        </ul>
      </p>
    <%- include partials/footer %>